{% extends 'layout.html' %} #makes sure the nav
{% block title %}WhiteBoard Home{% endblock %}
{% block nav %}
<a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
{% endblock %}

{% block content %}
<div class="group-page__main-heading__container row">
<div class="group-page__content__container col-lg-6">
    <h4 class="text-center group-page__heading"> Group Page of {{group.group_name}}
        {% if group_status == 'active' %}
            <span class="badge badge-primary">Active</span>
        {% else %}
            <span class="badge badge-danger">Inactive</span>
        {% endif %}
    </h4>

    <div class="group-info__container">
        <div class="row">
            <div class="group-info">
            <p class="info"><b>Group Members:</b> {{ members }}</p>
            <p class="info"><b>Description:</b> {{ description}}</p>
            </div>
        </div>
    </div>
</div>
{#    If User is a group member in the group, show create post form and create poll form #}
{# Create Post Form #}

    {#  if group posts exists  #}
    {% for ps in post %}
       <ul>
            <li>
                <div class="post-group">
                    <p class="post-title"><a href="{{ url_for('into_reply', post_id=ps.post_id) }}">
                        {{ ps.post_title }}</a></p>
                    <P class="post-content">{{ ps.post_content }}</P>
                    <div class="post-info">
                        <span class="post-author"><a href="{{ url_for('poster_profile', poster_id=ps.user_id) }}">
                            {{ ps.user_name }}</a></span>
                        <span class="post-time">{{ ps.post_time }}</span>
                    </div>
                </div>
            </li>
       </ul>
    {% endfor %}


    <div class="tab col-lg-6">
        <button class="tablinks" onclick="openTab(event, 'Posts')">Posts</button>
        <button class="tablinks" onclick="openTab(event, 'Polls')" id="defaultOpen">Polls</button>
    </div>

    </div>

    <div class="tabcontent__container">
    <div class="row">

        <div id="Posts" class="tabcontent" style="right: 20%;">
            <p>I am a post section</p>
            <p>I am a post section</p>
        </div>


    </div>
    </div>

<div class="tabcontent__container">
    <div class="row">
    <div id="Polls" class="tabcontent">
        {#  Create Poll Form  #}
        <div class="poll-parent-container container">
            {% if group_status == 'active' %}
        <button type="button" class="btn btn-info" onClick="togglePollForm()">Create Poll</button>
            {% endif %}

            <div class="row poll-form-container d-flex col-md-6 mx-auto" id="pollFormContainer">
                <div class="poll-form-content col-md-12">
                <form id="createPollForm" class="col-md-8" action="{{ url_for('create_poll', group_name=group.group_name) }}" method="post">
                    <div class="form-input-content" id="formInputContent">
                          <div class="form-group">
                            <input type="text" class="form-control" id="poll-title" name="poll-title" placeholder="Poll Title" required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="poll-question" name="poll-question" placeholder="Your Question" required>
                          </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="poll-option" placeholder="Option" required>
                            </div>
                    </div>
                    <div class="btnContainer">
                        <div class="text-align">
                            <button type="button"class="btn btn-link" onClick="addOptionField()" id="addMoreBtn">Add More Option</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

        {% if polls %}
        <h5 class="text-center">Current Polls</h5>
        {% for poll in polls %}
            <div class="container col-md-12 mx-auto">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="card-title">{{ poll.poll_title }}</h6>
                      </div>
                        <div class="row card-content__container">
                          <div class="card-body float-left">
                            <p class="card-text">{{ poll.poll_body }}</p>
                          </div>
                          <div class="card-body float-right">
                              <button type="button" class="btn btn-primary submitPoll-btn" onClick="">Respond</button>
                          </div>
                        </div>

                        <form action="{{ url_for('poll_vote', group_name=group.group_name) }}" method="post">
                                <div class="pollOptions-container row">
                                    <div class="pollOptions-content container text-center">
                                            <div class="row pollOptions-option__parent">

                                            {% for option in poll['group_concat(optionText)'] %}
                                                <div class="pollOptions-option radio col-lg-12">
                                                    <input type="radio" id="{{ option }}" name="poll-option" value="{{ option }}">
                                                    <label class="poll-option-label" for="{{ option }}">{{ option }}</label>
                                                </div>
                                            {% endfor %}
                                            </div>

                                        <div class="pollOptions-btn text-center">
                                            <button type="submit" class="btn btn-warning" name="submit-vote">Vote</button>
                                        </div>
                                        </div>
                                </div>
                        </form>
                    </div>

                </div>
            {% endfor %}
        {% endif %}

        {% if voted_polls %}
            <h5 class="text-center">My Responded Polls</h5>
            {% for poll in voted_polls %}
                <div class="container col-md-12 mx-auto">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="card-title">{{ poll.poll_title }}</h6>
                      </div>
                        <div class="row">
                          <div class="card-body">
                            <p class="card-text">{{ poll.poll_body }}</p>
                          </div>
                          <div class="card-body">
                              <button type="button" class="btn btn-warning showPollResults-btn" onClick="">Show Results</button>
                          </div>
                        </div>

                                <div class="showPollResults-container row">
                                    <div class="showPollResults-content container text-center">
                                            <div class="row">
                                                <div class="pollOptions-option radio col-lg-6">
                                                    <b>Highest Vote:</b>
                                                    {% if poll.vote_count <= 1 %}
                                                        <p>Not enough votes...</p>

                                                    {% else %}
                                                    <p>{{ poll.highest_vote }} <span class="badge badge-warning"> {{ poll.vote_count }}</span></p>
                                                    {% endif %}
                                                </div>

                                                <div class="pollOptions-option radio col-lg-6">
                                                    <b>Your Vote:</b>
                                                    <p>{{ poll.optionText }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>

    <div class="group-invite__container container">
        <div class="row">
        {% if group_status == 'active' %}
            <div class="col-lg-4">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Invite</button>

            <form action="{{ url_for('invite', group_name=group.group_name) }}" method="post">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" style="margin: 0 auto;">Invite user into the Group</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group" style="box-sizing: border-box;">
                                <input type="text" name="user_name" placeholder="Enter the User Name" required
                                       class="form-control">

                            </div>
                        </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary"> submit</button>
                                </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="show-message" style="text-align: center; width: 360px; margin:0 auto;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </form>
            {% endif %}
            <form action="{{ url_for('close_group', group_name=group.group_name) }}" method="get">
                <button type="submit" class="btn btn-outline-danger">Close Group</button>
            </form>

        </div>


    </div>




<script>
    document.getElementById("defaultOpen").click();

    var pollOption = document.getElementsByClassName('pollOptions-container');
    var showPollResults = document.getElementsByClassName('showPollResults-container');
    /** get respond button index **/
    var submitPollBtn = document.getElementsByClassName('submitPoll-btn');
    var showPollResultsBtn = document.getElementsByClassName('showPollResults-btn');

    for(var i = 0; i < pollOption.length; i++){
        pollOption[i].style.display = 'none';
    }

    for(var i = 0; i < showPollResults.length; i++){
        showPollResults[i].style.display = 'none';
    }

    for (var i = 0; i < submitPollBtn.length; i++) {
            (function (i) {
                submitPollBtn[i].addEventListener('click', function (event) {
                    console.log(i);
                    console.log(pollOption[i]);
                    console.log(submitPollBtn[i]);

                    if (pollOption[i].style.display === ''){
                        pollOption[i].style.display = 'none';
                    }
                    if (pollOption[i].style.display === "none") {
                        pollOption[i].style.display = "block";
                    } else {
                        pollOption[i].style.display = "none";
                    }
                    if(submitPollBtn[i].innerHTML === ''){
                        submitPollBtn[i].innerHTML = 'Respond';
                    }
                    if(submitPollBtn[i].innerHTML === 'Respond'){
                        submitPollBtn[i].innerHTML = 'Hide';
                    } else {
                        submitPollBtn[i].innerHTML = 'Respond';
                    }

                }, false);
            })(i);
        }

        for (var i = 0; i < showPollResultsBtn.length; i++) {
            (function (i) {
                showPollResultsBtn[i].addEventListener('click', function (event) {
                    {#console.log(i);#}
                    {#console.log(pollOption[i]);#}
                    console.log(showPollResultsBtn[i]);

                    if (showPollResults[i].style.display === ''){
                        showPollResults[i].style.display = 'none';
                    }
                    if (showPollResults[i].style.display === "none") {
                        showPollResults[i].style.display = "block";
                    } else {
                        showPollResults[i].style.display = "none";
                    }
                    if(showPollResultsBtn[i].innerHTML === ''){
                        showPollResultsBtn[i].innerHTML = 'Show Results';
                    }
                    if(showPollResultsBtn[i].innerHTML === 'Show Results'){
                        showPollResultsBtn[i].innerHTML = 'Hide';
                    } else {
                        showPollResultsBtn[i].innerHTML = 'Show Results';
                    }

                }, false);
            })(i);
        }


    function togglePollForm() {

        var x = document.getElementById("createPollForm");
        if (x.style.display === ''){
            x.style.display = 'none';
        }
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }


        function addOptionField() {
            var newOption = '<div class="form-group"><input type="text" class="form-control" name="poll-option" placeholder="Option" required></div>';
            $('#formInputContent').append(newOption);
        }

        function openTab(evt, section) {

          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent= document.getElementsByClassName("tabcontent");

          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(section).style.display = "block";
          evt.currentTarget.className += " active";
        }

</script>
{% endblock %}


