{% extends 'layout.html' %}
{% block title %}WhiteBoard Home{% endblock %}
    {% block nav %}
    <a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
    {% endblock %}

{% block content %}
    <div class="show-message" style="text-align: center; width: 360px; margin:0 auto;">
         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-warning alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">×</span></button>
                 {{message}}
         </div>
         {% endfor %}
         {% endif %}
    </div>

    <div class="content">


    {% if public_profile %}
    <h2>{{ public_profile.user_name }}'s Profile</h2>
        <table>
            <tr>
                <td><b>Username:</b></td>
                <td>{{ public_profile.user_name }}</td>
            </tr>
            <tr>
                <td><b>User Type:</b></td>
                <td>{{ public_profile.user_type }}</td>
            </tr>
            <tr>
                <td><b>Reputation:</b></td>
                <td>{{ public_profile.user_scores }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ public_profile.email }}</td>
            </tr>
        </table>

    {% else %}
        <h2>My Profile</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account.user_name }}</td>
            </tr>
            <tr>
                <td>User Type:</td>
                <td>{{ account.user_type }}</td>
            </tr>
            <tr>
                <td>Reputation:</td>
                <td>{{ account.user_scores }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account.email }}</td>
            </tr>
        </table>
        <hr>
        <h4 style="color: #4a536e; font-size: 22px;">My Groups</h4>
        {% if group_info %}
            {% for name in group_info %}
                 <a href="{{ url_for('group_page', group_name=name.group_name) }}">
                <button class="btn btn-primary" style="font-size: 15px; width: 200px;
                 margin:10px 20px; word-break: break-all; height: 100px; ">
                        {{ name.group_name }}
                </button></a>
            {% endfor %}
        {% endif %}
        <hr>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Create a Group</button>
        <form action="{{ url_for('create_group') }}" method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="margin: 0 auto;">Create a Group</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group" style="box-sizing: border-box;">
                            <input type="text" name="group_name" value="{{ group_name }}" placeholder="Enter Group Name" required
                                   class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" data-role="tagsinput" name="invite" value="{{ invite }}" id="invite" placeholder="Invite Team Members" class="form-control">
                        </div>

                        <div class="form-group">
                            <textarea name="description" value="{{ description }}"  rows="7" placeholder="Enter Group Description Here..."
                                    required  class="form-control"></textarea>
                            </div>
                    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close
                                </button>

                                <button type="submit" class="btn btn-primary">
                                    Create
                                </button>
                            </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </form>



    {% endif %}
         <h2>Post History</h2>
        <div class="main" style="padding: 0; background-color: #e2e1e8; margin: 0">
    {% for post in post_history %}
       <ul>
            <li>
                <div class="post-group">
                    <p class="post-title"><a href="{{ url_for('into_reply', post_id=post.post_id) }}">
                        {{ post.post_title }}</a></p>
                    <P class="post-content">{{ post.post_content }}</P>
                    <div class="post-info">
                        <span class="post-author">{{ post.user_name }}</a></span>
                        <span class="post-time">{{ post.post_time }}</span>
                    </div>
                </div>
            </li>
       </ul>
    {% endfor %}
    </div>
</div>
{% endblock %}


